export(as_pct)
export(bcp_plot)
export(coef_order)
export(createDummies)
export(fit_in_bin)
export(invlogit)
export(ntq)
export(require_packages)
export(sign_log)
export(tbl_1var)
export(tbl_2var)
export(xtable_wrap)
import(Matrix)
import(ggplot2)
import(glmnet)
import(scales)
import(stringr)
import(xtable)
importFrom(bcp,bcp)
importFrom(plyr,ddply)
importFrom(reshape2,melt)
importFrom(stringr,str_replace_all)
